<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css"> 

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav id="header-navbar">
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo">My diary</a>
        <ul class="right hide-on-med-and-down">
            <% if(!user) {%>
            <li><a href="/login"><i class="material-icons left">directions_run</i>Google Login</a></li>
            <li><a class="waves-effect waves-light btn modal-trigger" href="#register" id="register-button"><i class="material-icons left">directions_run</i>Sign in</a></li>
            <li id="already-registered"><a class="modal-trigger" href="#loginJWT">Already register?</a></li>
            <% } else {%>
            <li><a href="#">Greeting, <%= user.email %></a></li>
            <li><a class="waves-effect waves-light btn modal-trigger pulse" href="#modal1"><i class="material-icons left">edit</i>Tweet</a></button></li>
            <li><a href="/logout"><i class="material-icons left">airline_seat_individual_suite</i>Logout</a></li>
            <%}%>
            <!-- Dropdown Trigger -->
            
        </ul>
        </div>
    </nav>

  <div id="register" class="modal">
    <div class="modal-content">
          <div class="input-field col s12">
            <h4 class="center">Registration</h4>
            <form action="/registrationJWT" method="POST">
              <label for="email">What is your email</label>
              <input type="email" name="email" id="email-registration" class="autocomplete content">
              <label for="password">What is your password</label>
                <input type="password" class="password-registration" name="password" class="autocomplete password">
                <button class="btn waves-effect waves-light modal-close" type="submit" name="action">Register</button>
            </form>
          </div>
        </div>
  </div>

  <div id="loginJWT" class="modal">
    <div class="modal-content">
          <div class="input-field col s12">
            <h4 class="center">Login</h4>
            <form action="/loginJWT" method="POST">
              <label for="email">What is your email</label>
              <input type="email" name="email" id="email-login" class="autocomplete email">
              <label for="password">What is your password</label>
              <input type="password" class="password-registration" name="password" id="password" class="autocomplete password">

              <button class="btn waves-effect waves-light modal-close" type="submit" name="action">Login</button>
            </form>
          </div>
        </div>
  </div>
   
   
   
            